<h1>Pages#home</h1>
<form>
  <label for="cheese">Quels instruments cherchez-vous ?</label>
  <input type="checkbox" name="cheese" id="cheese">
</form>
<div class="d-flex justify-content-between">

</div>
