<div class="container">
  <div class="row" >
    <% @instruments.each do |instrument| %>
      <div class="col-4">
        <div class="card-trip">
          <img <%#= cl_image_tag instrument.photo, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <%= link_to instrument.description, owner_instrument_path(instrument), class: 'btn btn-secondary' %>
                <p><%= instrument.category %></p>
              </div>
              <h2 class="card-trip-pricing"><%= instrument.unit_price %></h2>
            </div>
          </div>
        </div>
    <% end %>
    <%= link_to "add an instrument", new_owner_instrument_path(@instrument) %>
  </div>
</div>
