<div class='text-center'> <h1>Mes instruments</h1> </div>
<div class='text-center'>
<%= link_to new_owner_instrument_path(@instrument), class: 'btn btn-secondary' do %>
<i class="fas fa-plus"></i><p>Instrument</p>
<% end %>
</div>
<div class="container">
  <div class="row" >
    <% @instruments.each do |instrument| %>
      <div class="col-4">
        <div class="card-trip">
          <!-- <img <%#= cl_image_tag instrument.photo, height: 300, width: 400, crop: :fill %> -->
            <div class="card-trip-infos">
              <div>
                <%= link_to instrument.description, owner_instrument_path(instrument), class: 'btn btn-secondary' %>
                <p><%= instrument.category %></p>
              </div>
              <h2 class="card-trip-pricing"><%= instrument.unit_price %></h2>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
