.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.avatar-large:hover {
  box-shadow: 0 1px 9px rgba(0,0,0,0.2);
}

.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.border-secondary{
  height: 400px;
  margin: 15px;
}
