.btn-orange {
  color: white;

}

.btn-orange:hover {

  color: #E67E22;
  text-decoration: none;

}

.btn-edit {
  color: #E67E22;
  text-decoration: none;
  font-weight: bold;
 }

.btn-cancel {
  color: #1EDD88;
}
