<h2><%= @instrument.description %></h2>
  <%= @instrument.category %>
  <br>
  <%= link_to "Louer", instrument_path(@instrument), class: 'btn btn-secondary' %>
  <%= link_to "Retour", root_path, class: 'btn btn-secondary'  %>
